
.navcontainer {
    background: #D5C683;
    height: 100vh;
    width: 80vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    z-index: 2;

}
.menubox {
    position: absolute;
    top: 30px;
    font-size: 1.7rem;
    z-index: 2;

    background: white;
    border-radius: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navlinks{
    color: white;
    font-size: 1.5rem;
    /* border: 2px solid red; */
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    list-style-type: none;
    padding: 0;
}
.departments{
    list-style-type: none;
    flex-grow: .2;
    padding: 0;
    /* border: 2px solid white; */
    font-size: 1rem;
    color: gray;
    padding-left: 20px;
}
