
.navcontainer {
    background: #D5C683;
    height: 100vh;
    width: 80vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    z-index: 2;

}
.menubox {
    position: absolute;
    top: 30px;
    font-size: 1.7rem;
    z-index: 2;

    background: white;
    border-radius: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navlinks{
    color: white;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}