
.transmissibilityCont {
    display: flex;
    flex-direction: column;
    justify-content: centers;
    align-items: center;
    padding: 0 0 30px 0;
}
.transmissibilityCont > h3 {
    font-weight: lighter;
    font-size: 1.5rem;
    margin: 20px 0;

}
.transmissibilityCont > p {
    margin: 0 0 20px 0;
}
.rect {
    background: #eed5af;
    height: 60vw;
    width: 60vw;
    border-radius: 40px;
}
