
.docbox {
    /* border: 2px solid black; */
    margin: 20px 0;
}
.docbox h3 {
    font-weight: lighter;
    font-size: 1.5rem;
    margin: 20px 0;
    text-align: center;
}


.swiperSlide {
    /* border: 2px solid red; */
    font-size: 18px;
    position: relative;
    

}

.swiperbox {
    position: relative;
    height: 300px;

    /* border: 3px solid orange;  */
    display: flex;
    justify-content: center; 
}

.docInfo {
    position: absolute;
    bottom: 0;
    
    background-color: lightblue;
    border: 5px solid white;
    /* border-radius: 20px 20px 0 0; */
}
.docInfo > p:nth-child(1) {
    text-align: center;
    padding: 10px 0;
}
.docInfo > p:nth-child(2) {
    text-align: center;

    color: white;
}
