
.transmissibilityCont {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.transmissibilityCont > h3 {
    font-weight: lighter;
    font-size: 1.5rem;
    margin: 20px 0;

}
.transmissibilityCont > p {
    margin: 0 0 20px 0;
    width: 80%;
    text-align: center;
}

.pieCont {
    padding: 20px 0;

    width: 90%;
    background: #E4DEC2;
    border-radius: 50px;
    display: flex;
    justify-content: center;
}
