
.transmissibilityCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.transmissibilityCont > h3 {
    font-weight: lighter;
    font-size: 1.5rem;
    margin: 20px 0;

}
.transmissibilityCont > p {
    margin: 0 0 20px 0;
    width: 80%;
    text-align: center;
}

.pieCont {
    /* border: 3px solid gray; */
    width: 100%;
    display: flex;
    justify-content: center;
}
